body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

div {
  float: left;
  background-color: red;
  width: 25%;
}

nav {background-color: grey;}

section>p {
  width: 800px;
  margin: auto;
  margin-bottom: 1rem;
}

a {padding: 10px;}